{% extends 'components/_base.html' %}
{% load custom_filters %}


{% block title %}
فروشگاه شهر تاب | سبد خرید
{% endblock title %}


{% block content %}
<div id="container">
  <div class="container">
    {% if details_orders %}
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li><a href="{% url 'product:home' %}"><i class="fa fa-home"></i></a></li>
      <li><a href="{% url 'order:cart' %}">سبد خرید</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
      <!--Middle Part Start-->
      <div id="content" class="col-sm-12">
        <h1 class="title">سبد خرید</h1>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="text-center">تصویر</td>
                  <td class="text-left">نام محصول</td>
                  <td class="text-left">مدل</td>
                  <td class="text-left">تعداد</td>
                  <td class="text-right">قیمت واحد</td>
                  <td class="text-right">کل</td>
                </tr>
              </thead>
              <tbody>
                {% for detail in details_orders %}
                <tr>
                  <td class="text-center"><a href="{{detail.product.get_absolute_url}}"><img src="{{detail.product.image.url}}" alt="{{detail.product.title}}" title="{{detail.product.title}}" class="img-thumbnail" width="70px"/></a></td>
                  <td class="text-left"><a href="{{detail.product.get_absolute_url}}">{{detail.product.title}}</a><br />
                  <td class="text-left">{{detail.product.category.parent}}|{{detail.product.category}}</td>
                  <td class="text-left"><div class="input-group btn-block quantity">
                      <input type="text" name="quantity" value="{{detail.count}}" size="1" class="form-control" readonly/>
                      <span class="input-group-btn">
                      <button type="submit" data-toggle="tooltip" title="بروزرسانی" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                      <a href="{% url 'order:delete_item' detail.id %}" type="button" data-toggle="tooltip" title="حذف" class="btn btn-danger" onClick=""><i class="fa fa-times-circle"></i></a>
                      </span></div></td>
                  <td class="text-right">{{detail.price|price}}</td>
                  <td class="text-right">{{detail.total_price_detail|price}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        <h2 class="subtitle"></h2>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-8">
            <table class="table table-bordered">
              <tr>
                <td class="text-right"><strong>جمع کل:</strong></td>
                <td class="text-right">{{order.total_price_order|price}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>تخفیف:</strong></td>
                <td class="text-right">{{order.total_discount_order|price}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>مالیات:</strong></td>
                <td class="text-right">0</td>
              </tr>
              <tr>
                <td class="text-right"><strong>قابل پرداخت :</strong></td>
                <td class="text-right">{{order.total_payment|price}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="buttons">
          <div class="pull-left"><a href="{% url 'product:home' %}" class="btn btn-default">ادامه خرید</a></div>
          <div class="pull-right"><a href="{% url 'order:address-order' %}" class="btn btn-primary">انتخاب آدرس</a></div>
        </div>
      </div>
      <!--Middle Part End -->
    </div>
  </div>
  {% else %}
  <div class="alert alert-warning">
    <p>سبد خرید شما خالیست.</p>
    <p>برای ادامه خرید <a href="{% url 'product:home' %}">کلیک </a>کنید.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}

 