{% extends 'components/_base.html' %}
{% load custom_filters %}

{% block title %}
{{site_info.local_name}} | لیست موارد مورد علاقه
{% endblock title %}

{% block content %}
<div id="container">
  <div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li><a href="{% url 'product:home' %}"><i class="fa fa-home"></i></a></li>
      <li><a href="{% url 'users:profile' %}">حساب کاربری</a></li>
      <li><a href="{% url 'users:wishlist' %}">لیست علاقه مندی من</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
      <!--Middle Part Start-->
      {% if object_list %}
      <div id="content" class="col-sm-12">
        <h1 class="title">لیست علاقه مندی</h1>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-center">تصویر</td>
                <td class="text-left">نام محصول</td>
                <td class="text-left">مدل</td>
                <td class="text-right">وضعیت</td>
                <td class="text-right">قیمت واحد</td>
                <td class="text-right">عملیات</td>
              </tr>
            </thead>
            <tbody>
              {% for item in object_list %}
              <tr id="{{ item.id }}">
                <td class="text-center"><a href="{{item.get_absolute_url}}"><img src="{{item.image.url}}" alt="{{item.title}}" title="{{item.title}}" class="img-thumbnail" width="70px"/></a></td>
                <td class="text-left">{{item.title}}</td>
                <td class="text-left">{{item.category.parent}} | {{item.category}}</td>
                <td class="text-right">{{ item.status|yesno:'موجود,ناموجود' }}</td>
                <td class="text-right"><div class="price"> {{item.price|price}} </div></td>
                <td class="text-right">
                  <a class="btn btn-primary" href="{{item.get_absolute_url}}" title="" data-toggle="tooltip" onClick="cart.add('48');" data-original-title="مشاهده و خرید کالا">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <form method="post">
                    <input type="hidden" name="product_id" value="{{ item.id }}">
                    <button class="btn btn-danger" data-toggle="tooltip" data-original-title="">
                      <i class="fa fa-times"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% else %}
      <div class="alert alert-warning">
        <p>لیست علاقه مندی شما خالیست.</p>
        <p>برای افزودن کالا به لیست <a href="{% url 'product:home' %}">کلیک </a>کنید.</p>
      {% endif %}
      <!--Middle Part End -->
    </div>
  </div>
</div>
{% endblock content %}


{% block javascript %}
<script>
$(document).ready(function() {
  $('form').on('submit', function(event) {
    event.preventDefault();
    $.ajax({
        url: '{% url "users:wishlist-delete" %}',
        type: 'POST',
        headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
        data: $(this).serialize(),
        success: (data)=> {
          if(data.success){
            let tableId = $(this).serializeArray()[0].value
            $(`#${tableId}`).remove();
          }
        }
    });
  });
});
</script>
{% endblock javascript %}
