{% extends 'product/base.html' %}
{% load widget_tweaks %}
{% load render_partial %}


{% block sidebar %}
	{% render_partial 'sidebar_pattern' %}
{% endblock %}


{% block content %}
<div class="span9">
	<h3> Login</h3>	
	<hr class="soft"/>
	<div class="row">
		<div class="span4">
			<div class="well">
			<h5>CREATE YOUR ACCOUNT</h5><br/>
			Enter your e-mail address to create an account.<br/><br/><br/>
				<form>
					<div class="control-group">
						<label class="control-label" for="inputEmail">E-mail address</label>
						<div class="controls">
							<input class="span3"  type="text" placeholder="Email">
						</div>
					</div>
					<div class="controls">
						<button type="submit" class="btn block">Create Your Account</button>
					</div>
				</form>
			</div>
		</div>
		<div class="span1"> &nbsp;</div>
		<div class="span4">
			<div class="well">
				{% if form.non_field_errors %}
				<div class="non-field-errors alert alert-danger" style='direction:rtl;'>
					{% for err in form.non_field_errors %}
					  <p class="text-error" style='color:red;'>{{ err }}</p>
					{% endfor %}
				  </div>
				{% endif %}
				<!-- <h5>ALREADY REGISTERED ?</h5> -->
				<form method="post">{% csrf_token %}
					<div class="control-group">
						<label class="control-label" for="{{form.username.id_for_label}}">Username</label>
						<div class="controls">
							{{form.username|add_class:"span3"}}
						</div>
						{% if form.username.errors %}
							<div class="errors">
								{% for error in form.username.errors %}
									<span>{{error}}</span>
								{% endfor %}
                            </div>
                        {% endif %}
					</div>
					<div class="control-group">
						<label class="control-label" for="{{form.password.id_for_label}}">Password</label>
						<div class="controls">
							{{form.password|add_class:"span3"}}
						</div>
						{% if form.password.errors %}
						<div class="errors">
							{% for error in form.password.errors %}
								<span>{{error}}</span>
							{% endfor %}
						</div>
					{% endif %}
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="defaultBtn">ورود</button>
							<a href="{% url 'password_reset' %}" class="defaultBtn btnForget">فراموشی رمز عبور</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
