{% extends 'components/_base.html' %}


{% block title %}
فروشگاه شهر تاب | ایجاد گذرواژه جدید
{% endblock title %}


{% block content %}
<div id="container">
  <div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li><a href="{% url 'product:home' %}"><i class="fa fa-home"></i></a></li>
      <li><a href="{% url 'login' %}">حساب کاربری</a></li>
      <li><a href="{% url 'password_reset_complete' %}">ایجاد گذرواژه جدید</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
      <!--Middle Part Start-->
      <div class="col-sm-9" id="content">
        <h1 class="title">ایجاد گذرواژه جدید</h1><hr>
		<div class="well">
			<!-- <h5>ALREADY REGISTERED ?</h5> -->
			<div class="control-group">
                <p>گذرواژه جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید.</p>
                <p><a class="btn btn-success" href="{% url 'login' %}">ورود</a></p>
			</div>
		</div>
      </div>
      <!--Middle Part End -->
      <!--Right Part Start -->
      {% include 'components/profile_aside.html' %}
      <!--Right Part End -->
    </div>
  </div>
</div>

{% endblock content %}

