{% extends 'product/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="span9">
	<h3>تقاضای ریست رمز فرستاده شد</h3>	
	<hr class="soft"/>
    <div class="row">
        <div class="well">
            <ul>
                <li>دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.</li>
                <li>اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.</li>
            </ul>
        </div>
    </div>	
</div>
{% endblock %}
