{% extends 'components/_base.html' %}


{% block title %}
{{site_info.local_name}} | تغییر گذرواژه
{% endblock title %}


{% block content %}
<div id="container">
  <div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li><a href="{% url 'product:home' %}"><i class="fa fa-home"></i></a></li>
      <li><a href="{% url 'login' %}">حساب کاربری</a></li>
      <li><a href="{% url 'password_change_done' %}">تغییر گذرواژه</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
      <!--Middle Part Start-->
      <div class="col-sm-9" id="content">
        <h1 class="title">تغییر گذرواژه</h1><hr>
		<div class="well">
			<!-- <h5>ALREADY REGISTERED ?</h5> -->
			<div class="control-group">
				<h4>گذرواژه شما با موفقیت تغییر یافت.</h4>
			</div>
		</div>
      </div>
      <!--Middle Part End -->
      <!--Right Part Start -->
      {% include 'components/profile_aside.html' %}
      <!--Right Part End -->
    </div>
  </div>
</div>

{% endblock content %}

