{% extends 'product/base.html' %}
{% load static %}

{% block content %}
<hr class="soften">
<div class="well well-small">
	<h1>Visit us</h1>
	<hr class="soften"/>	
	<div class="row-fluid contact">
		<div class="span8 relative">
			<iframe class="iframe-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
				src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Newbury+Street,+Boston,+MA,+United+States&amp;aq=1&amp;oq=NewBoston,+MA,+United+States&amp;sll=42.347238,-71.084011&amp;sspn=0.014099,0.033023&amp;ie=UTF8&amp;hq=Newbury+Street,+Boston,+MA,+United+States&amp;t=m&amp;ll=42.348994,-71.088248&amp;spn=0.001388,0.006276&amp;z=18&amp;iwloc=A&amp;output=embed">
			</iframe>
		</div>
		
		<div class="span4">
		<h4>ارتباط با ما</h4>
			<form class="form-horizontal" method='post'>{% csrf_token %}
				<fieldset>
					{% for field in contact_form %}
						<div class="control-group">
							{{field}}
						</div>
						{% if field.errors %}
							<div class='alert alert-danger'>
								{% for err in field.errors %}
									<li>{{err}}</li>
								{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
					<button class="shopBtn" type="submit">ارسال</button>
				</fieldset>
			</form>
		</div>
	</div>
	<hr class="soften"/>	
	<div class="alert alert-secondary detail-address">
		<h4>Contact Details</h4>
		<h5>
			2601 Mission St.<br/>
			San Francisco, CA 94110<br/><br/>
			
			info@mysite.com<br/>
			﻿Tel 123-456-6780<br/>
			Fax 123-456-5679<br/>
			web:wwwmysitedomain.com
		</h5>
	</div>
</div>

{% endblock %}
