{% extends 'product/base.html' %}
{% load static %}
{% load render_partial %}



{% block sidebar %}
	{% render_partial 'sidebar_pattern' %}
{% endblock %}


{% block content %}
	<div class="well well-small">
		<div class="row-fluid">
			<ul class="thumbnails">
				{% for p in products %}
					<li class="span4">
						<div class="thumbnail">
						<a href="product_details.html" class="overlay"></a>
						<a href="{% url 'product:detail' p.slug %}"><img src="{{p.image.url}}" alt=""></a>
						<div class="caption cntr">
							<!-- <p><a href="{{p.get_absolute_url}}">{{p.title}}</a></p> -->
							<p><a href="{% url 'product:detail' p.slug %}">{{p.title}}</a></p>
							<p><strong>{{p.price}}</strong></p>
							<h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
							<div class="actionList">
								<a class="pull-left" href="#">Add to Wish List </a> 
								<a class="pull-left" href="#"> Add to Compare </a>
							</div> 
							<br class="clr">
						</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

		<div class="pagination"s>
			<ul>
				<li>
				{% if products.has_next %}
					<!-- <a href="?page={{ products.next_page_number }}">next</a> -->
					<a href="{% url 'product:home' products.next_page_number %}">next</a>
				{% endif %}
				</li>
				{% for page in products.paginator.page_range %}
					{% if page == products.number %}
						<!-- <li class="active"><a href="?page={{page}}">{{page}}</a></li> -->
						<li class="active"><a href="{% url 'product:home' page %}">{{page}}</a></li>
					{% else %}
						<!-- <li><a href="?page={{page}}">{{page}}</a></li> -->
						<li><a href="{% url 'product:home' page %}">{{page}}</a></li>
					{% endif %}
				{% endfor %}
				<li>
				{% if products.has_previous %}
					<!-- <a href="?page={{ products.previous_page_number }}">prev</a> -->
					<a href="{% url 'product:home' products.previous_page_number %}">prev</a>
				{% endif %}
				</li>
			</ul>
		</div>
{% endblock %}