{% load static %}

<header id="header">
    <div class="row">
        <div class="span4">
            <h1>
                <a class="logo" href="index.html"><span>Twitter Bootstrap ecommerce template</span> 
                    <img src="{% static 'product/assets/img/logo-bootstrap-shoping-cart.png' %}" alt="bootstrap sexy shop">
                </a>
            </h1>
        </div>
        <div class="span4 alignR">
            <p><br> <strong> پشتیبانی : 0912000000000 </strong><br><br></p>
            <span class="btn btn-mini">[ 2 ] <span class="icon-shopping-cart"></span></span>
            <span class="btn btn-warning btn-mini">$</span>
            <span class="btn btn-mini">&pound;</span>
            <span class="btn btn-mini">&euro;</span>
        </div>
    </div>
</header>