{% extends 'components/_base.html' %}
{% load static %}
{% load custom_filters %}


{% block title %}
فروشگاه شهر تاب
{% endblock %}

{% block content %}
<div id="container">
  <!-- Feature Box Start-->
  <div class="container">
    <div class="custom-feature-box row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box fbox_1">
          <div class="title">ارسال رایگان</div>
          <p>برای خرید های بیش از 100 هزار تومان</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box fbox_2">
          <div class="title">پس فرستادن رایگان</div>
          <p>بازگشت کالا تا 24 ساعت پس از خرید</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box fbox_3">
          <div class="title">کارت هدیه</div>
          <p>بهترین هدیه برای عزیزان شما</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-box fbox_4">
          <div class="title">امتیازات خرید</div>
          <p>از هر خرید امتیاز کسب کرده و از آن بهره بگیرید</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature Box End-->
  <div class="container">
    <div class="row">
      <!-- Left Part Start-->
      {% include "components/aside.html" %}
      <!-- Left Part End-->
      <!--Middle Part Start-->
      <div id="content" class="col-sm-9">
        <!-- Slideshow Start-->
        <div class="slideshow single-slider owl-carousel">
          {% for slide in slider_items %}
          <div class="item"> 
            <a href="#">
              <img class="img-responsive" src="{{slide.image.url}}" alt="{{slide.title}}" />
            </a>
          </div>
          {% endfor %}
        </div>
        <!-- Slideshow End-->
        <!-- Featured محصولات Start-->
        <h3 class="subtitle"></h3>
        <div class="owl-carousel product_carousel">
          {% for product in random_choices %}
            <div class="product-thumb clearfix">
              <div class="image">
                <a href="{{product.get_absolute_url}}">
                  <img src="{{product.image.url}}" alt="{{product.title}}" title="{{product.title}}" class="img-responsive" />
                </a>
              </div>
              <div class="caption">
                <h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
                <p class="price"> 
                  {% if product.is_special %}
                      <span class="price-new"> {{product.get_total_price|price}} </span> <br>
                      <span class="price-old"> {{product.price|price}} </span> <span class="saving"> {{product.get_discount_percent}}٪- </span>
                  {% else %}
                      <span class="price-new"> {{product.price|price}} </span> 
                  {% endif %}
                </p>
                <div class="stars-outer">
                  <div class="stars-inner">{{product.ratings.get.average}}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Featured محصولات End-->
        <!-- Banner Start-->
        <div class="marketshop-banner">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="#"><img src="{% static '/product/image/banner/sample-banner-3-400x200.jpg' %}" alt="بنر نمونه 3" title="بنر نمونه 3" /></a></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="#"><img src="{% static '/product/image/banner/sample-banner-1-400x200.jpg' %}" alt="بنر نمونه" title="بنر نمونه" /></a></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="#"><img src="{% static '/product/image/banner/sample-banner-2-400x200.jpg' %}" alt="بنر نمونه 2" title="بنر نمونه 2" /></a></div>
          </div>
        </div>
        <!-- Banner End-->
        <!-- دسته ها محصولات Slider Start-->
        <div class="category-module" id="latest_category">
          <h3 class="subtitle">محصولات - <a class="viewall" href="{% url 'product:all_products' %}">نمایش همه</a></h3>
          <div class="category-module-content">
            <ul id="sub-cat" class="tabs">
              {% for design in relax_swing_designs %}
              <li><a href="#{{design.slug}}">{{design.title}}</a></li>
              {% endfor %}
            </ul>
            {% for design in relax_swing_designs %}
            <div id="{{design.slug}}" class="tab_content">
                <div class="owl-carousel latest_category_tabs">
                  {% for product in design.product_set.all|slice:":10" %}
                    <div class="product-thumb">
                      <div class="image"><a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="{{product.title}}" title="{{product.title}}" class="img-responsive" /></a></div>
                      <div class="caption">
                        <h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
                        <p class="price"> 
                          {% if product.is_special %}
                              <span class="price-new">{{product.get_total_price|price}}</span> <br>
                              <span class="price-old"> {{product.price|price}} </span> <span class="saving"> {{product.get_discount_percent}}٪- </span>
                          {% else %}
                              <span class="price-new">{{product.price|price}}</span> 
                          {% endif %}
                        </p>
                        <div class="stars-outer">
                          <div class="stars-inner">{{product.ratings.get.average}}</div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
            {% endfor %}

          </div>
        </div>
        <!-- دسته ها محصولات Slider End-->
        <!-- Banner Start -->
        <div class="marketshop-banner">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="{% static '/product/image/banner/sample-banner-4-400x150.jpg' %}" alt="2 Block Banner" title="2 Block Banner" /></a></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="{% static '/product/image/banner/sample-banner-5-400x150.jpg' %}" alt="2 Block Banner 1" title="2 Block Banner 1" /></a></div>
          </div>
        </div>
        <!-- Banner End -->
        <!-- دسته ها محصولات Slider Start -->
        <h3 class="subtitle">محصولات منتخب - <a class="viewall" href="#">نمایش همه</a></h3>
        <div class="owl-carousel latest_category_carousel">
          {% for product in top_rated_products %}
          <div class="product-thumb">
            <div class="image"><a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="{{product.title}}" title="{{product.title}}" class="img-responsive" /></a></div>
            <div class="caption">
              <h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
              <p class="price"> 
                {% if product.is_special %}
                    <span class="price-new">{{product.get_total_price|price}}</span> <br>
                    <span class="price-old"> {{product.price|price}} </span> <span class="saving"> {{product.get_discount_percent}}٪- </span>
                {% else %}
                    <span class="price-new">{{product.price|price}}</span> 
                {% endif %}
              </p>
              <div class="stars-outer">
                <div class="stars-inner">{{product.ratings.get.average}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- دسته ها محصولات Slider End -->
        <!-- Brand محصولات Slider Start-->
        <h3 class="subtitle">محصولات پرفروش- <a class="viewall" href="#">نمایش همه</a></h3>
        <div class="owl-carousel latest_brands_carousel">
          {% for product in best_seller_products %}
            <div class="product-thumb">
              <div class="image"><a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="{{product.title}}" title="{{product.title}}" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
                <p class="price"> 
                  {% if product.is_special %}
                      <span class="price-new">{{product.get_total_price|price}}</span> <br>
                      <span class="price-old"> {{product.price|price}} </span> <span class="saving"> {{product.get_discount_percent}}٪- </span>
                  {% else %}
                      <span class="price-new">{{product.price|price}}</span> 
                  {% endif %}
                </p>
                <div class="stars-outer">
                  <div class="stars-inner">{{product.ratings.get.average}}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>`
      </div>
      <!--Middle Part End-->
    </div>
  </div>
</div>
{% endblock content %}