{% load widget_tweaks %}



<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="{% if request.resolver_match.url_name == 'all_products' %}active{% endif %}"><a href="{% url 'product:all_products' %}">همه محصولات</a></li>
                    <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><a href="{% url 'product:home' %}">خانه</a></li>
                </ul>
                <form action="{% url 'product:filter_products' %}" class="navbar-search pull-left">
                    <input type="text" placeholder="Search" class="search-query span2" value="{{request.GET.q}}" name="q">
                </form>
                {% if not request.user.is_authenticated %}
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Login <b class="caret"></b></a>
                            <div class="dropdown-menu">
                                <form class="form-horizontal loginFrm" method="post">{% csrf_token %}
                                    <div class="control-group">
                                        <label class="control-label labe-navbar-login" for="{{form.username.id_for_label}}">{{form.username.label}}:</label>
                                            {{form.username|add_class:"span2"}}
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label labe-navbar-login" for="{{form.password.id_for_label}}">{{form.password.label}}:</label>
                                        {{form.password|add_class:"span2"}}
                                    </div>
                                    <div class="control-group">
                                        <button type="submit" class="shopBtn btn-block">Sign in</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>