{% extends 'components/_base.html' %}
{% load custom_filters %}


{% block title %}
فروشگاه شهر تاب | همه محصولات
{% endblock %}


{%block content%}
<div id="container">
  <div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li><a href="{% url 'product:home' %}"><i class="fa fa-home"></i></a></li>
      <li><a href="{% url 'product:all_products' %}">همه محصولات</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
      <!--Left Part Start -->
      {% include "components/aside.html" %}
      <!--Left Part End -->
      <!--Middle Part Start-->
      <div id="content" class="col-sm-9">
        <h1 class="title">همه محصولات</h1>
        <div class="product-filter">
          <div class="row">
            <div class="col-md-4 col-sm-5">
              <div class="btn-group">
                <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
              </div>
              <a href="compare.html" id="compare-total">محصولات مقایسه (0)</a> </div>
            <div class="col-sm-2 text-right">
              <label class="control-label" for="input-sort">مرتب سازی :</label>
            </div>
            <form action="" method="get" id="form-query">
              <div class="col-md-3 col-sm-2 text-right">
                <select id="input-sort" name="sort" class="form-control col-sm-10">
                  <option value="" {% if sorted_by == 'created' %}selected="selected"{% endif %}>پیشفرض</option>
                  <option value="price" {% if sorted_by == 'price' %}selected="selected"{% endif %}>قیمت (کم به زیاد)</option></option>
                  <option value="-price" {% if sorted_by == '-price' %}selected="selected"{% endif %}>قیمت (زیاد به کم)</option>
                  <option value="-ratings" {% if sorted_by == '-ratings' %}selected="selected"{% endif %}>امتیاز (بیشترین)</option>
                  <option value="ratings" {% if sorted_by == 'ratings' %}selected="selected"{% endif %}>امتیاز (کمترین)</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <br />
        <div class="row products-category">
          {% for product in products %}
          <div class="product-layout product-list col-xs-12">
            <div class="product-thumb">
              <div class="image"><a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt=" {{product.title}}" title=" {{product.title}}" class="img-responsive" /></a></div>
              <div>
                <div class="caption">
                  <h4><a href="{{product.get_absolute_url}}"> {{product.title}}</a></h4>
                  <p class="price"> 
                    {% if product.is_special %}
                        <span class="price-new">{{product.get_total_price|price}}</span> <br>
                        <span class="price-old"> {{product.price|price}} </span> <span class="saving"> {{product.get_discount_percent}}٪- </span>
                    {% else %}
                        <span class="price-new">{{product.price|price}}</span> 
                    {% endif %}
                  </p>
                  <div class="stars-outer">
                    <div class="stars-inner">{{product.ratings.get.average}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">
            <ul class="pagination">
              {% if products.has_previous %}
              <li><a href="{% url 'product:all_products' %}{% if sorted_by %}?sort={{sorted_by}}{% endif %}">&lt;|</a></li>
              <li><a href="{% url 'product:all_products' products.number|add:'-1' %}{% if sorted_by %}?sort={{sorted_by}}{% endif %}">{{products.number|add:"-1"}}</a></li>
              {% endif %}
              <li class="active"><span>{{products.number}}</span></li>
              {% if products.has_next %}
              <li><a href="{% url 'product:all_products' products.number|add:'1' %}{% if sorted_by %}?sort={{sorted_by}}{% endif %}">{{products.number|add:"1"}}</a></li>
              <li><a href="{% url 'product:all_products' products.paginator.num_pages %}{% if sorted_by %}?sort={{sorted_by}}{% endif %}">&gt;|</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="col-sm-6 text-right">نمایش {{products.start_index}} تا {{products.end_index}} از {{products.paginator.count}} (مجموع {{products.paginator.num_pages}} صفحه)</div>
        </div>
      </div>
      <!--Middle Part End -->
    </div>
  </div>
</div>
{% endblock content %}



{% block javascript %}
<script>
  let sendButton = document.getElementById("form-query")

  $("#input-sort").change(function(e){
    e.preventDefault();
    $.ajax({
      type: "GET",
      url: "{% url 'product:all_products' %}",
      data: e.target.value
    })
    sendButton.submit();

  })
</script>
{% endblock javascript %}