{% extends 'components/_base.html' %}
{% load widget_tweaks %}


{% block title %}
{{site_info.local_name}} | لیست آدرس ها
{% endblock title %}

{% block content %}
<div id="container">
  <div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li><a href="{% url 'product:home' %}"><i class="fa fa-home"></i></a></li>
      <li><a href="{% url 'users:profile' %}">پروفایل کاربری</a></li>
      <li><a href="{% url 'users:address' %}">لیست آدرس ها</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
      <!--Middle Part Start-->
      <div class="col-sm-9" id="content">
        <h1 class="title">لیست آدرس ها</h1><hr>
        <div class="row">
          {% for address in addresses %}
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{forloop.counter}}</h4>
                <p class="card-text">آدرس : {{address.city}} , {{address.address}}</p>
                <p class="card-text">کد پستی : {{address.post_code}}</p>
                <a href="{% url 'users:address-update' address.pk %}" class="btn btn-primary">تغییر</a>
                <form method="POST" action="{% url 'users:address-delete' address.pk %}">{% csrf_token %}
                  <button class="btn btn-danger">حذف</button>
               </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div><br><br>
        <form class="form-horizontal" method="post">{% csrf_token %}
          {% if form.non_field_errors %}
          <div class="non-field-errors alert alert-danger" style='direction:rtl;'>
              {% for err in form.non_field_errors %}
                  <p class="text-error" style='color:red;'>{{ err }}</p>
              {% endfor %}
          </div>
          {% endif %}
          <fieldset id="account">
            <legend>ایجاد آدرس جدید</legend>
            {% for field in form %}
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="{{field.id_for_label}}">{{field.label}}</label>
              <div class="col-sm-10">
                {{field|add_class:"form-control"}}
                {% if field.help_text %}
                  <small class="fw-lighter">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                  <div class="alert alert-danger">
                    <ul>
                      {% for error in field.errors %}
                        <li>{{error}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </fieldset>
          <div class="buttons">
            <div class="pull-right">
              <input type="checkbox" value="1" name="agree" required>
              &nbsp;صحت اطلاعات وارد شده&nbsp;
              <input type="submit" class="btn btn-primary" value="ثبت">
            </div>
          </div>
        </form>
      </div>
      <!--Middle Part End -->
      <!--Right Part Start -->
      {% include 'components/profile_aside.html' %}
      <!--Right Part End -->
    </div>
  </div>
</div>

{% endblock content %}

